@use "../../styles/vars";

.react-switch-checkbox__container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.react-switch-checkbox {
  height: 0;
  width: 0;
  visibility: hidden;
}

.react-switch-label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  width: 40px;
  height: 20px;
  background: vars.$light-text;
  border-radius: 100px;
  position: relative;
  transition: background-color 0.2s;
  &:hover {
    background: #d5d5d5;
  }
}

.react-switch-label .react-switch-button {
  content: "";
  position: absolute;
  top: 2.4px;
  left: 2px;
  width: 15px;
  height: 15px;
  border-radius: 45px;
  transition: 0.2s;
  background: vars.$outline;
  box-shadow: 0 0 2px 0 rgba(10, 10, 10, 0.29);
}

.react-switch-checkbox:checked + .react-switch-label .react-switch-button {
  left: calc(100% - 2px);
  transform: translateX(-100%);
  background-color: #44a775;
}

.react-switch-label:active .react-switch-button {
  width: 25px;
}

.react-switch-label > span {
  color: vars.$light-text;
  font-size: 0.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
