$scissors: linear-gradient(#ec9e0e, #eca922);
$paper: linear-gradient(#4865f4, #5671f5);
$rock: linear-gradient(#dc2e4e, #dd405d);
$lizard: linear-gradient(#834fe3, #8c5de5);
$spock: linear-gradient(#40b9ce, #52bed1);

$background: radial-gradient(ellipse at top, #1f3756, #141539);

$light-text: #fff;
$light-grey: #d5d5d5;
$dark-text: #3b4363;
$blue-text: #2a46c0;
$outline: #606e85;
$green: #44a775;

$gutter: 1rem;
