@use "../../styles/vars";

.App {
  background: vars.$background;
  box-sizing: border-box;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: vars.$light-text;
  padding: 2rem;
}
