@use "../../styles/vars";

.home {
  width: 15rem;
  height: 15rem;
  position: relative;

  &__background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  &__sign {
    width: 60%;
    height: 60%;
    position: absolute;

    &:hover {
      transform: scale(1.1);
      cursor: pointer;
    }

    &--rock {
      bottom: -1rem;
      left: 3rem;
    }
    &--paper {
      top: -3rem;
      left: -3rem;
    }
    &--scissors {
      top: -3rem;
      right: -3rem;
    }
  }
}
