@use "../../styles/vars";

.home {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: center / contain no-repeat
    url("../../assets/images/bg-triangle.svg");
  height: 40%;
  &__icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    margin: -3rem;
    width: 99%;
    height: 140%;

    &__sign {
      &--rock {
        align-self: flex-end;
        margin-left: 30%;
      }
    }
  }

  @media screen and (max-width: 600px) {
    .home {
      &__icons {
        width: 100vw;
        padding: 0 1rem 3rem;

        &__sign {
          &--rock {
            align-self: flex-end;
            margin-left: 30%;
          }
        }
      }
    }
  }
}
