@use "../../styles/vars";

.home {
  width: 35%;
  padding-bottom: 35%;
  position: relative;

  &__background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: scale-down;
  }

  &__sign {
    width: 30%;
    height: 30%;
    position: absolute;

    &--rock {
      bottom: 20%;
      left: 35%;
    }
    &--paper {
      top: 15%;
      left: 13%;
    }
    &--scissors {
      top: 15%;
      right: 13%;
    }
  }
}

@media screen and (max-width: 600px) {
  // .home {
  //   &__icons {
  //     &__sign {
  //       &--rock {
  //         // align-self: flex-end;
  //         // margin-left: 30%;
  //       }
  //     }
  //   }
  // }
}
