@use "../../styles/vars";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  border: 0.2rem solid vars.$outline;
  border-radius: 1rem;
  padding: 0.8 * vars.$gutter 1 * vars.$gutter;
  z-index: 1;

  &__score-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: vars.$light-text;
    border-radius: 0.5rem;
    padding: 1rem 4rem;
    &__title {
      color: vars.$blue-text;
    }

    &__score {
      color: vars.$dark-text;
      font-size: 5rem;
      font-weight: bold;
    }
  }
}

@media screen and (max-width: 600px) {
  .header {
    width: 100%;
    padding: 0.2rem 0.6rem;

    &__logo {
      transform: scale(0.6);
      margin-left: -1rem;
    }

    &__score-container {
      padding: 0.8rem 2rem;

      &__score {
        font-size: 3.5rem;
      }
    }
  }
}
