@use "../../styles/vars";

.result {
  max-width: 100%;
  display: flex;
  justify-content: center;
  gap: 5rem;

  &__sign-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    position: relative;

    &__background {
      width: 13rem;
      height: 13rem;
      background-color: vars.$dark-text;
      border-radius: 50%;
      position: absolute;
      bottom: 2rem;
    }

    &__text {
      font-size: 1.3rem;
    }

    &__icon {
      width: 17rem;
      height: 17rem;
      z-index: 0;

      &--house {
        animation: move 1s ease-in;
      }
    }

    @keyframes move {
      0% {
        transform: scale(0) rotate(0deg);
      }
      100% {
        transform: scale(1) rotate(720deg);
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .result {
    gap: 2rem;
    align-items: flex-start;
    margin-bottom: 10rem;

    &__sign-container {
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
      justify-content: center;
      gap: 2rem;

      &__background {
        width: 6rem;
        height: 6rem;
        background-color: vars.$dark-text;
        border-radius: 50%;
        position: absolute;
        bottom: 4rem;
      }

      &__text {
        white-space: nowrap;
        font-size: 1rem;
      }

      &__icon {
        width: 8rem;
        height: 8rem;
      }
    }
  }
}
