@use "../../styles/vars";

.result {
  max-width: 100%;
  display: flex;
  justify-content: center;
  gap: 5rem;
  transition: all 1s linear;

  &__sign-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    position: relative;

    &__background {
      width: 13rem;
      height: 13rem;
      background-color: vars.$dark-text;
      border-radius: 50%;
      position: absolute;
      bottom: 2rem;
    }

    &__text {
      font-size: 1.3rem;
      z-index: 1;
    }

    &__icon {
      width: 17rem;
      height: 17rem;
      border-radius: 50%;
      z-index: 0;

      &--house {
        animation: move 1s ease-in;
      }

      &--winner {
        box-shadow: 0 0 rgba(59, 67, 99, 0.2), 0 0 0 4rem rgba(59, 67, 99, 0.2),
          0 0 0 8rem rgba(59, 67, 99, 0.2), 0 0 0 12rem rgba(59, 67, 99, 0.2);
        animation: winner 1s linear infinite;
      }
    }

    @keyframes move {
      0% {
        transform: scale(0) rotate(0deg);
      }
      100% {
        transform: scale(1) rotate(720deg);
      }
    }

    @keyframes winner {
      to {
        box-shadow: 0 0 0 4rem rgba(59, 67, 99, 0.2),
          0 0 0 8rem rgba(59, 67, 99, 0.2), 0 0 0 12rem rgba(59, 67, 99, 0.2),
          0 0 0 16rem rgba(59, 67, 99, 0);
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .result {
    gap: 2rem;
    align-items: flex-start;
    margin-bottom: 10rem;

    &__sign-container {
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
      justify-content: center;
      gap: 2rem;

      &__background {
        width: 6rem;
        height: 6rem;
        background-color: vars.$dark-text;
        border-radius: 50%;
        position: absolute;
        bottom: 4rem;
      }

      &__text {
        white-space: nowrap;
        font-size: 1rem;
      }

      &__icon {
        z-index: 1;
        width: 8rem;
        height: 8rem;

        &--winner {
          z-index: 0;
          box-shadow: 0 0 rgba(59, 67, 99, 0.2),
            0 0 0 1rem rgba(59, 67, 99, 0.2), 0 0 0 2rem rgba(59, 67, 99, 0.2),
            0 0 0 3rem rgba(59, 67, 99, 0.2);
        }
      }
      @keyframes winner {
        to {
          box-shadow: 0 0 0 1rem rgba(59, 67, 99, 0.2),
            0 0 0 2rem rgba(59, 67, 99, 0.2), 0 0 0 3rem rgba(59, 67, 99, 0.2),
            0 0 0 4rem rgba(59, 67, 99, 0);
        }
      }
    }
  }
}
