@use "../../styles/vars";

.rules {
  background: none;
  border: solid 1px vars.$light-text;
  border-radius: 0.5rem;
  padding: 1rem 3rem;
  margin-left: auto;
  transition: all 0.1s linear;
  &:hover {
    cursor: pointer;
    background-color: #8a90ac;
    border: solid 1px #8a90ac;
  }
}

@media screen and (max-width: 600px) {
  .rules {
    margin-left: 0;
    font-size: 1.2rem;
  }
}
