@use "../../styles/vars";

.rules {
  background: none;
  letter-spacing: 0.2rem;
  font-size: 0.9rem;
  border: solid 0.2rem vars.$outline;
  border-radius: 1rem;
  padding: 1rem 3rem;
  margin-left: auto;
  transition: all 0.1s linear;
  &:hover {
    cursor: pointer;
    background-color: #8a90ac;
    border: solid 0.2rem #8a90ac;
  }
}

@media screen and (max-width: 600px) {
  .rules {
    margin-left: 0;
    font-size: 1.2rem;
  }
}
