@use "../../styles/vars";

.footer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-left: auto;
  font-size: 0.9rem;
  &__hard-mode-switch {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  &__rules {
    background: none;
    letter-spacing: 0.2rem;
    border: solid 0.2rem vars.$outline;
    border-radius: 1rem;
    padding: 1rem 3rem;
    transition: all 0.1s linear;
    &:hover {
      cursor: pointer;
      background-color: #8a90ac;
      border: solid 0.2rem #8a90ac;
    }
  }
}

@media screen and (max-width: 600px) {
  .footer {
    margin-left: 0;
  }
}
